/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://www.wallpapersifu.com/wp-content/uploads/2017/05/Wallpaper-Penang.jpg");
    background-repeat: repeat-y;
    background-size: cover
}

.container {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80%;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.restaurant {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.restaurant img {
    max-width: 100%;
    border-radius: 8px;
}

button {
    padding: 18px 20px;
    background-color: #fd0962;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}

button:hover {
    background-color: #890b39;
}

.selected-restaurant {
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
}
